.contact_tbl {
	margin-top: 15px;
}
.itemDetailsControl {
	width: 100%;
}
.mySubscriptionsPageLayout {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.srs-productListing {
	border-bottom: #4283c1 1px solid;
	border-left: #4283c1 1px solid;
	border-right: #4283c1 1px solid;
	border-top: #4283c1 1px solid;
	text-align: center;
	width: 99%;
}
/* .marquee_search_bg {
    font-size: 11px;
    font-weight: bold;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/PublishingImages/marquee_search_bg.jpg);
} */
/* .marquee {
    font-size: 11px;
    font-weight: bold;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    height: 38px;
    background-image: url(/PublishingImages/marquee_bg.jpg);
} */
.containerFF[class] {
	background-color: #000;
	margin: 0 auto;
}
.icon-help {
	vertical-align: top;
	padding: 0 10px 10px 0;
}
.srs-displayNone {
	display: none;
}
.srs-FooterControl {
	text-align: center;
	vertical-align: bottom;
	height: 35px;
	font-size: 12px;
}
.srs-oemaccent {
	background-color: blue;
	width: 100%;
	vertical-align: middle;
	height: 24px;
	text-align: left;
	margin: 0 0 0 5px;
	padding: 2px 0 0;
}
/*Preference Navigation */
.srs-userpref {
	font: inherit;
	font-size: 11px;
	text-align: left;
	height: 22px;
	color: black;
	width: 100%;
	padding: 2px 10px;
}
.changePasswordButtonRow {
	height: 40px;
	vertical-align: bottom;
}
.welcomeText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
}
.srs-BreadCrumb {
	font-weight: normal;
	font: inherit;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	text-indent: 8px;
}
.srs-UserPrefInfo {
	font-weight: bold;
	font: inherit;
	font-size: 11px;
	color: #000;
	text-decoration: none;
	text-indent: 0;
}
td.srs-UserPref-box {
	vertical-align: top;
	width: 100%;
}
.srs-UserPref-height_auto {
	height: auto;
}
.formFieldsValidation {
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-size: 10px;
	color: Red;
}
a.srs-userpref,
a.srs-userpref:active,
a.srs-userpref:visited,
a.srs-userpref:hover {
	font: inherit;
	font-size: inherit;
	font-weight: normal;
	color: black;
	height: inherit;
	padding: 5px 10px;
}
.searchControlTextBox {
	width: 100%;
	vertical-align: top;
}
.srsSearchTable {
	width: 200px;
}
.srs-OrderHistory-AlternatingRow {
	background-color: #fff;
	color: #284775;
	font-size: 12px;
}
.srs-OrderHistory-GridSelected {
	background-color: #e2ded6;
	color: #333;
	font-size: small;
	font-weight: bold;
}
.srs-OrderHistory-GridHeader {
	background-color: #e6e6e6;
	color: #000;
	font-size: small;
	font-weight: bold;
}
.srs-OrderHistory-GridRow {
	background-color: #f7f6f3;
	color: #333;
	font-size: 12px;
}
.srs-OrderHistory-GridPager {
	background-color: Silver !important;
}
.searchErrorMessage {
	font-size: 11px;
	color: Red;
}
.srs-OrderHistory-MainPanel {
	border-left: solid 1px #669dfb;
	border-right: solid 1px #669dfb;
	border-bottom: solid 1px #669dfb;
	width: 100%;
}
span.srs-pipe {
	font-weight: bold;
	color: #fff;
	background-color: inherit;
	vertical-align: top;
}
table.srs-cartnav {
	font: inherit;
	font-size: inherit;
	width: 100%;
	vertical-align: top;
	text-align: left;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}
.srs-OrderDetail-MainPanel {
	border-left: solid 1px #669dfb;
	border-right: solid 1px #669dfb;
	border-bottom: solid 1px #669dfb;
	font-size: small;
}
.srs-ResultsNotFound {
	color: Navy;
	font-size: 14px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
.srs-productSeperator {
	text-align: center;
	background-color: #e6e6e6;
	height: 5px;
}
.ProductPriceColumn {
	width: 15%;
	height: 100%;
	vertical-align: top;
}
.srs-productDescription {
	font-weight: bold;
	font-size: 10px;
	text-align: justify;
}
.srs-productListingLabel {
	font-weight: bold;
}
.ProductAllInfoContainer {
	font: 12px Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
}
.ProductDescriptionColumn {
	width: 85%;
	vertical-align: top;
}
.ProductImageColumn {
	width: 15%;
	border-right: dotted 1px #94aec7;
}
.srs-productListing1 {
	border-top: #cfcfcf 1px solid;
	padding-top: 10px;
	background-color: #fff;
}
.ProductListingBackground {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: Silver;
	text-align: center;
	width: 100%;
	height: 25px;
}
.srs-leftMenuHover {
	background-color: #fff;
	color: #333;
}
.srs-selectedLeftMenuLevel3 {
	text-indent: 16px;
	color: #5a5b00;
}
.srs-selectedLeftMenuLevel2 {
	background-color: #ed6d00;
	color: #333;
}
a.srs-selectedLeftMenuLevel1 {
	padding-bottom: 7px;
	padding-top: 7px;
}
.srs-leftMenuLevel3 {
	text-indent: 32px;
	color: #5a5b5d;
}
.srs-leftMenuLevel2 {
	background-color: #81b7fc;
	color: #333;
	text-indent: 16px;
}
.srs-leftMenuLevel1 {
	background-color: #005898;
	background-image: none;
	border-bottom: #fff 1px solid;
	border-left: #fff 0 solid;
	border-right: #fff 0 solid;
	border-top: #fff 0 solid;
	color: #fff;
	font: 12px Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	list-style-image: none;
	list-style-type: none;
	text-align: left;
	text-indent: 9px;
	display: block !important;
	padding: 0;
}
.srs-leftMenuMain {
	font: 12px Helvetica, Arial, sans-serif;
	width: 100%;
	text-align: left;
}
/*Faceted Search Results Lables*/
.FacetBase_lable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}
.srs-FacetSearchDDList {
	width: 90%;
	height: 20px;
}
.srs-Search_ListLabelContainer {
	float: left;
	text-align: center;
}
.srs-FacetedSearch_MakeImageButton {
	width: 88px;
	height: 45px;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	border-width: 0;
}
.srs-FacetedSearch_MakeHiddenButton {
	display: none;
}
.createUserDivider {
	font: 12px Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: #4283c1;
	height: 14px;
	text-align: center;
	text-indent: 5px;
	font-weight: bold;
	color: #fff;
	width: 100%;
}
.loginUserNameTextBox {
	width: 194px;
}
.whiteBG {
	background-color: #fff;
}
.srs-PageListingFoother {
	font: 14px Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #999;
	text-align: left;
	text-indent: 5px;
	font-weight: bold;
	color: #fff;
	width: 100%;
}
.promoAppliedText {
	font-size: small;
	color: Green;
}
.srs-OrderDetail-InformationPanelText {
	color: #000;
	font-size: smaller;
	width: 100%;
}
.srs-OrderDetail-InformationPanelHeader {
	color: Navy;
	font-size: smaller;
	font-weight: bold;
	width: 100%;
}
.srs-OrderDetail-InformationPanel {
	background-color: #e6e6e6;
	min-height: 120px;
	max-height: 100%;
	width: 100%;
	border-color: #999;
	border-style: solid;
	border-width: 4px;
}
.srs-ExternalOrderDetail-InformationPanel {
	background-color: #e6e6e6;
	height: 320px;
	width: 100%;
	border-color: #999;
	border-style: solid;
	border-width: 4px;
}
.widthFull {
	width: 100%;
}
.srs-CheckoutText {
	font-size: 14px;
}
.notes {
	font-size: 10px;
	color: #737373;
	font-family: Arial, Helvetica, sans-serif;
}
.checkoutTextColumn {
	width: 60%;
}
/* .srs-PageListingHeader {
    background-image: url(/PublishingImages/top_center.png);
    height: 18px;
    border-left: solid 1px #669dfb;
    border-right: solid 1px #669dfb;
    border-top: solid 1px #669dfb;
    text-align: center;
    font-weight: bold;
    width: auto;
    word-break: break-all;
    font-size: 14px;
} */
.srs-quickOrderLink {
	text-decoration: none;
}
.srs-Checkout-MainPanel {
	border: solid 1px #5b5cae;
	margin-bottom: 25px;
}
.srs-Checkout-PageHeader {
	background-color: Silver;
	color: #fff;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 3px;
}
.srs-Checkout-BreadCrumb {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
}
.srs-SearchImageButton {
	text-align: center;
	vertical-align: bottom;
}
.srs-FacetSearchProductTypeDDList {
	width: 40%;
	height: 20px;
}
.checkoutSpacerColumn,
.checkoutLabelColumn {
	width: 20%;
}
.srs-VinSearchTb {
	width: 80%;
	height: 10px;
}
.srs-FacetSearchVehicleHeaderLbl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.srs-FacetSearchHeaderLbl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}
.priceColumn {
	text-align: right;
	vertical-align: top;
	width: 20%;
	font-size: 10px;
	font-weight: bold;
	padding-right: 10px;
}
.ScrollingHierarchy {
	text-align: left;
	font-size: 8px;
}
.supersededByLink {
	color: #585858;
	font-weight: bold;
	text-decoration: none;
}
.supersededByLabel {
	color: #707070;
}
.itemName {
	font-weight: bold;
}
.descriptionColumn {
	width: 45%;
	text-align: left;
	vertical-align: top;
	font-size: 10px;
}
.kitComponents {
	vertical-align: top;
}
.itemImage {
	width: 230px;
}
.imageColumn {
	width: 25%;
	vertical-align: top;
	font-size: 10px;
}
.imageColumnTab {
	width: 15%;
	vertical-align: top;
	font-size: 10px;
}
.leftSide {
	border-left: solid 1px #93b9fb;
}
.dottedBottom {
	border-bottom: dotted 1px gray;
}
.pageMessages {
	color: Red;
	font-size: 16px;
}
/* .bottomRight {
    background-image: url(/PublishingImages/bottom_right_corner.png);
    width: 21px;
    height: 21px;
} */
.bottomCenter {
	border-bottom: solid 1px #93b9fb;
}
/* .bottomLeft {
    background-image: url(/PublishingImages/bottom_left_corner.png);
    width: 21px;
    height: 21px;
} */
.loginErrorMessage {
	font-size: 12px;
	color: Red;
}
.passwordMaxLength {
	font-size: 9px;
	color: #000;
	font-style: italic;
	text-align: left;
}
.passwordChangeMaxLength {
	font-size: 10px;
	color: #000;
	font-style: italic;
	text-align: center;
	padding-bottom: 9px;
}
.boldMainText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
}
.rightSide {
	border-right: solid 1px #93b9fb;
}
.mandatory {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	color: Red;
}
/* main regular content text style*/
.mainText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
/* .topRight {
    background-image: url(/PublishingImages/top_right_corner.png);
    width: 21px;
    height: 21px;
    padding: 0;
} */
.BoldHeading {
	font: 14px Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #e6e6e6;
	height: 18px;
	text-align: center;
	text-indent: 5px;
	font-weight: bold;
	color: #000;
}
/* .topCenter {
    background-image: url(/PublishingImages/top_center.png);
    padding: 0;
} */
/* .topLeft {
    background-image: url(/PublishingImages/top_left_corner.png);
    width: 21px;
    height: 21px;
    padding: 0;
} */
.header-sec {
	width: 880px;
	float: none;
	margin: 0 auto;
}
.header-col1 {
	width: 860px;
	height: 11px;
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	padding: 5px 0 10px 20px;
}
.header-logo {
	width: 860px;
	float: left;
	padding: 0 0 0 10px;
}
.header-col2 {
	width: 450px;
	height: 11px;
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px 0 10px 20px;
}
.header-col3 {
	width: 390px;
	height: 11px;
	float: left;
	text-align: right;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px 20px 10px 0;
}
.header-col4 {
	width: 705px;
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px 0 0 20px;
}
.header-col5 {
	width: 155px;
	float: left;
	text-align: right;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px 0 0;
}
.shade1 {
	color: #ffffff;
}
.shade1 a {
	color: #ffffff;
	text-decoration: none;
}
.shade1 a:hover {
	color: #ffffff;
	text-decoration: none;
}
#footer {
	height: 60px;
	float: left;
}
.footer-links {
	line-height: 24px;
	width: 880px;
	float: none;
	margin: 0 auto;
	padding: 10px 0 0;
}
.footer-data {
	width: 880px;
	text-align: left;
	float: none;
	border-top: 0 solid #666;
	border-bottom: 0 solid #fff;
	font-size: 11px;
	color: #bbb;
	line-height: 16px;
	margin: 10px auto;
	padding: 5px 0;
}
.footer-logo {
	width: 840px;
	float: none;
	padding-top: 10px;
	margin: 0 auto;
}
.Footer_blackBG {
	width: 870px;
	float: none;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #000;
	margin: 0 auto;
}
.footerFF[class] {
	width: 100%;
	height: 35px;
	float: left;
	background: none;
	background-color: #333333;
	color: white;
}
.full {
	width: 100%;
	float: left;
}
.footer-sec {
	width: 981px;
	height: 22px;
	float: none;
	font-size: 11px;
	text-align: left;
	margin: 0 auto;
	padding: 5px 0 5px 10px;
}
.footerLeft {
	float: left;
	width: 73%;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	color: White;
	text-decoration: none;
	text-align: left;
}
.footerText {
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	color: White;
	text-decoration: none;
}
.footerRight {
	float: right;
	margin: 0 3px 3px;
}
.footerCopyright {
	color: Gray;
	font-size: 7px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	margin-right: 10px;
}
.privacySettingsFooter {
	text-decoration: none;
	border: none;
	background: none !important;
	cursor: pointer;
	font-weight: 400;
	padding: 0px;
}
.privacySettingsFooter:hover {
	text-decoration: underline;
}
.ProductShortDescriptionInfoContainer {
}
.ProductClassificationInfoContainer {
}
.ProductNameInfoContainer {
}
.ProductIdInfoContainer {
}
.createAccountPasswordTextBox {
}
.changePasswordImageButton {
}
.ILC_CurrentPageHighlight {
	border: solid 1px #ddd;
	background: #4283c1;
	color: #fff;
	padding: 2px 6px;
}
.changePasswordColumnLeft {
	width: 50%;
	text-align: right;
	padding-right: 20px;
	font: 14px Helvetica, Arial, sans-serif;
}
.changePasswordColumnRight {
	width: 50%;
	text-align: left;
	padding-right: 20px;
}
#srs-main {
	width: 988px;
	background-color: #fff;
}
.ShippingNotePopup {
	background-color: #fff;
	width: 250px;
	border-color: Gray;
	border-style: solid;
	border-width: 3px;
	padding: 3px;
}
.CountryChangePopup {
	background-color: #fff;
	width: 400px;
	border-color: Gray;
	border-style: solid;
	border-width: 3px;
	padding: 3px;
}
.NewsletterChangePopup {
	background-color: #fff;
	width: 400px;
	border-color: Gray;
	border-style: solid;
	border-width: 3px;
	padding: 3px;
}
.OptInPopup {
	background-color: #fff;
	width: 500px;
	border-color: Gray;
	border-style: solid;
	border-width: 3px;
	padding: 3px;
	z-index: 100;
	border: 2px solid #cecece;
	z-index: 100;
	font-size: 13px;
	background-color: #5379ac;
	color: Silver;
	font-family: Arial Verdana Sans-Serif;
	font-weight: bold;
	padding: 12px;
}
.PromoPopup {
	background-color: #fff;
	overflow: scroll;
	max-height: 600px;
	width: 600px;
	border-color: Gray;
	border-style: solid;
	border-width: 3px;
	padding: 3px;
}
*:first-child + html input[type] {
	padding: 1px; /* IE7 */
}
/* .suggested_address {
    background: #fff url(/PublishingImages/top_center.png) repeat-x;
    border: 1px solid #999;
    font-size: 12px;
    margin: 5px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
} */

/* for text customization */
.TextCustOuterContainer {
	width: 90%;
}
.TextCustItemContainer {
	width: 100%;
	float: left;
}
.TextCustItemErrorContainer {
	border: solid 1px Red;
}
.TextCustLineContainer {
	width: 74px;
	padding-left: 4px;
}
.TextCustLineOnly {
	width: 70px;
	height: 60px;
	vertical-align: middle;
	text-align: center;
}
.TextCustLineLabelContainer {
	text-align: left;
	vertical-align: top;
}
.TextCustTitlePrompt {
	font-size: 12pt;
}
.TextCustLineLabel {
	width: 70px;
}
.TextCustLineValueContainer,
.TextCustLineValidationContainer {
	text-align: left;
	vertical-align: top;
}
.TextCustLineError,
.TextCustLineRequired {
	color: Red;
	white-space: nowrap;
}
.TextCustLineValue {
}
/* for color customization */
.TextCustOuterContainer {
	width: 90%;
}
.TextCustItemContainer {
	width: 100%;
	float: left;
}
.TextCustItemErrorContainer {
	border: solid 1px Red;
}
.TextCustLineContainer {
	width: 74px;
	padding-left: 4px;
}
.TextCustLineOnly {
	width: 70px;
	height: 60px;
	vertical-align: middle;
	text-align: center;
}
.TextCustLineLabelContainer {
	text-align: left;
	vertical-align: top;
}
.TextCustTitlePrompt {
	font-size: 12pt;
}
.TextCustLineLabel {
	width: 70px;
}
.TextCustLineValueContainer,
.TextCustLineValidationContainer {
	text-align: left;
	vertical-align: top;
}
.TextCustLineError,
.TextCustLineRequired {
	color: Red;
	white-space: nowrap;
}
.modalBackground {
	background-color: Gray;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.progressTemplate {
	position: absolute;
	left: 50%;
	top: 30%;
	visibility: visible;
	vertical-align: middle;
	background-color: #c8d1d4;
}
/* Cart Item Blink Css Starts Here */
.BlinkCartItemCount {
	color: #006600;
}
.BlinkWishListItemCount {
	color: #006600;
}
.BlinkRentItemCount {
	color: #006600;
}
/* Cart Item Blink Css Ends Here */
/* Ajax tab panel Starts Here */
/* .ajax__tab_tab {
	height: 100% !important;
	background: url(Tabs/tab.gif) repeat-x;
	margin: 0;
	padding: 4px;
} */
/* Ajax tab panel Ends Here */
.externalOrder_ShippingStatus A {
	text-decoration: underline !important;
	color: Blue !important;
}
.externalOrder_ShippingStatus {
	text-decoration: underline !important;
}
/* MarketingText Css Starts Here */
/* .MarketingTextOuterContainerDetail {background-color:none;}
   .MarketingTextOuterContainerListing {background-color:none;}*/
.MarketingTextCoolTitle {
	color: blue;
	font-weight: bold;
	font-size: 11pt;
}
.MarketingTextMediumTitle {
	color: green;
	font-weight: bold;
	font-size: 11pt;
}
.MarketingTextHotTitle {
	color: red;
	font-weight: bold;
	font-size: 11pt;
}
.MarketingTextCoolNote {
	color: blue;
	font-size: 11pt;
}
.MarketingTextMediumNote {
	color: green;
	font-size: 11pt;
}
.MarketingTextHotNote {
	color: red;
	font-size: 11pt;
}
/* MarketingText Css Ends Here */
.applicationsPager {
	background-color: Silver;
	text-align: center;
}
.applicationsPager span {
	border: solid 1px #ddd;
	background: #4283c1;
	color: #fff;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	padding: 2px 6px;
}
.ProductAvailability {
	vertical-align: top !important;
	float: left;
}
.CartItemCountDisplay WishListCountDisplay {
	float: right;
	text-align: right;
	vertical-align: top;
	font-size: 12px !important;
	font-family: Helvetica, Arial, sans-serif !important;
}
.tblAvailability {
	text-align: right;
	width: 100%;
	height: 100%;
	font-size: 12px !important;
	font-family: Helvetica, Arial, sans-serif !important;
	padding: 0;
}
.tblCellAvailability {
	border-left: dotted 1px #94aec7;
	border-right: dotted 1px #94aec7;
	width: 70%;
	font-weight: normal;
	padding-right: 5px;
}
.tblCellAvailabilityItemDetail {
	background-color: #ddd;
}
.txtAvailabilityQty {
	margin-bottom: 5px !important;
}
.ProductAvailability {
	width: 100%;
	font-size: 11px;
}
.AvailabilityDisplay {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding-top: 5px;
	min-height: 35px;
}
.srs-CartTableAvailabilityColumn {
	text-align: right;
	width: 22%;
	vertical-align: middle;
}
.srs-CartTableAvailabilityText {
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
}
.imgAvailabilityProgress {
	width: 17px;
	margin-right: 7px;
}
#Popup {
	display: none;
	position: fixed;
	width: 350px;
	_position: absolute;
	border: 2px solid #cecece;
	z-index: 100;
	font-size: 13px;
	background-color: #5379ac;
	color: Silver;
	font-family: Arial Verdana Sans-Serif;
	font-weight: bold;
	padding: 12px;
}
#bgPopup {
	display: none;
	position: fixed;
	_position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000;
	z-index: 1;
}
#Popup a,
.PopupClose {
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}
.detailNew {
	color: green;
	font-weight: bold;
}
.divApplications {
	background-color: #ededed;
	border: solid 1px gray;
	padding: 3px;
}
.WatermarkSearch {
	color: GrayText;
	font-style: italic;
}
.PopupBody {
	word-break: break-all;
}
.ToolInventoryAvailability {
	margin-bottom: 10px;
	font-weight: normal;
	line-height: 20px;
	border-bottom-color: #94aec7;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	height: 65px;
}
.ToolInventoryAvailabilityItemDetail {
	margin-top: 10px;
	font-weight: normal;
	line-height: 20px;
}
/* begin feedback Form */
.txtFeedback {
	width: 100%;
}
.borderMainTable {
	padding-left: 5px;
	width: 150px;
	margin-left: 195px;
	margin-bottom: 10px;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
}
.borderInnerTable {
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	margin: 5px 5px 5px 17px;
}
.feedbackCell {
	font-weight: bold;
	padding: 8px 5px 5px;
}
.feedbackBtnReset {
	margin-left: 7px;
}
.feedbackBtnSubmit {
	margin-left: 121px;
}
.feedBackValSummary {
	color: Red;
	padding-left: 22px;
}
.txtboxWidth {
	width: 300px;
	padding-bottom: 2px;
	padding-top: 2px;
	margin-bottom: 5px;
}
.ddlwidth {
	width: 305px;
}
.watermarked {
	width: 300px;
	border: 1px solid #bebebe;
	background-color: #f0f8ff;
	color: gray;
	padding: 2px 0 0 2px;
}
.FeedbackRequired {
	vertical-align: top;
}
.expandSearch {
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}
.CrossSellTable {
	width: 20%;
	vertical-align: top;
}
/* end feedback Form */
/*navigate top*/
#back-top {
	position: fixed;
	bottom: 10px;
	margin-left: 1010px;
}
#back-top a {
	width: 83px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* #back-top span {
    width: 78px;
    height: 58px;
    display: block;
    margin-bottom: 3px;
    background: url(/PublishingImages/up-arrow.png) no-repeat center center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
} */
/* begin dynatree left navigation */
.LeftNavHead {
	color: #000 !important;
	font-weight: 700 !important;
	background-color: #e6e6e6;
	font-size: 10px !important;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
}
.LeftNavHead a {
	color: #000 !important;
}
div.container {
	padding: 0;
	margin: 0;
}
span.dynatree-selected a {
	color: #000;
	font-weight: 700;
	font-style: normal;
}
span.dynatree-selected a:hover {
	color: #000;
}
span.dynatree-focused a:link {
	background-color: transparent !important;
}
span.dynatree-active a,
span.dynatree-active a:hover {
	color: #000 !important;
	border: 1px solid #000;
	background-color: transparent !important;
}
ul.dynatree-container a:focus,
span.dynatree-focused a:link {
	background-color: transparent !important;
}
ul.dynatree-container {
	background-color: #f3f3f3 !important;
	width: 272px;
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 4px !important;
}
#searchAccordion {
	vertical-align: top;
	width: 280px !important;
	height: 100% !important;
	background-color: #e5e4e2;
}
.searchAccordionHead {
	background: url(cssImg/minus.png) left no-repeat;
	background-position: 5px 9px;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	font-weight: bold;
	cursor: pointer;
}
.searchAccordionHeadCollapse {
	background: url(cssImg/Plus.png) left no-repeat;
	background-position: 5px 9px;
}

.searchAccordionHeadCollapse + .checkBoxTreeContainer {
	display: none;
}
div.searchAccordionContainer {
	padding: 0;
	margin: 0;
}
.ProductFacetHead {
	color: #000 !important;
	font-weight: 700 !important;
	font-size: 10px !important;
	width: 100%;
}
.ProductFacetHead a {
	color: #000 !important;
}
.divSearchedByHeader {
	width: 275px;
	vertical-align: top;
	border: 1px solid Black;
	display: block;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 4px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #e5e4e2;
}
.divSearchedByHeaderText {
	background-color: #e5e4e2;
	margin-bottom: 3px;
	padding-left: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 12px;
}
.divSearchKeyword {
	min-height: 10px;
	padding: 10px;
	padding: 10px;
	background-color: #ffffff;
}
.divCurrentFilters {
	width: 278px;
	vertical-align: top;
	border: 1px solid #000;
	font-weight: 700;
	font-size: 10px;
	margin-bottom: 4px;
	margin-bottom: 3px;
}
.divNarrowedBy {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	font-size: 12px;
	margin-bottom: 3px;
	background-color: rgb(229, 228, 226);
}
.btnDeselectAll {
	cursor: pointer;
	text-decoration: underline;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: right;
}
.divRefineSearch {
	width: 280px;
	vertical-align: top;
	border: 1px solid #000;
	display: block;
	font-weight: 700;
	font-size: 12px;
	margin-bottom: 4px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #f3f3f3;
}
.divRefineSearchText {
	background-color: #e5e4e2;
	margin-bottom: 3px;
	padding-left: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 12px;
}
/* end dynatree left navigation */
#FeedbackPopup {
	display: none;
	position: fixed;
	width: 400px;
	_position: absolute;
	border: 2px solid #cecece;
	z-index: 100;
	font-size: 13px;
	background-color: #fff;
	color: Silver;
	font-family: Arial, Verdana, Sans-Serif;
	font-weight: 700;
	padding: 12px;
	border-radius: 20px;
}
.hylTxtDisabled {
	color: #0066cc;
	text-decoration: underline;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 10px;
}
.blinkingLimitMsg {
	color: Red;
	font-weight: bold;
	font-size: 9px;
}
/*for multiple images in item details*/
.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.clearfix {
	display: block;
	zoom: 1;
}
ul#thumblist {
	display: block;
}
ul#thumblist li {
	float: left;
	margin-right: 1px;
	list-style: none;
}
ul#thumblist li a {
	margin-top: 1px;
	display: block;
	border: 1px solid #ccc;
}
ul#thumblist li a.zoomThumbActive {
	border: 1px solid red;
}
/*for multiple images in item details ends*/
/*for Cart button position on wishlist page - start*/
.cartBtnPosition {
	padding-right: 0px;
	padding-left: 10px;
}
/*for Cart button position on wishlist page - end*/
/* td widths for preference page*/
.srs-userpref-name {
	width: 35%;
}
.srs-userpref-value {
	width: 65%;
}
/*td width ends*/

@-moz-document url-prefix() {
	.tblchangepassword td {
		padding-bottom: 2px;
	}
	.btnNext {
		padding-top: 2px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	ul {
		list-style-position: inside;
	}
	.tblchangepassword td {
		padding-bottom: 2px;
	}
	.btnNext {
		padding-top: 2px;
	}
}
.extmandatory {
	vertical-align: top;
	margin-left: -3px;
}
.footerFile_Body {
	color: #666;
	text-align: center;
	margin: 0;
	background-color: #e9e6e1;
	font: 12px Helvetica, Arial, sans-serif;
	height: 100%;
	padding: 0;
}
.footerFile_footer,
.footerFile_usr_pref {
	height: 22px;
	text-align: left;
	background-color: #bcd;
}
.footerFile_usr_pref {
	padding: 2px 10px;
}
A.footerFile_usr_pref,
A.footerFile_usr_pref:active,
A.footerFile_usr_pref:visited {
	font-weight: 700;
	color: #000;
	padding: 5px 10px;
}
A.footerFile_usr_pref:hover {
	font-weight: 700;
	color: #ccc;
	padding: 5px 10px;
}
.footerFile_footer {
	padding: 2px 10px;
}
/*.RentalAvailability {margin-top:10px; font-weight:normal; line-height:10px;border-top-color: #94aec7; border-top-width:1px; border-top-style:dotted;}*/

.RentalAvailability {
	width: 100%;
	font-size: 11px;
	vertical-align: top !important;
	float: left;
	padding-top: 5px;
}
.RentalAvailabilityDottedLine {
	margin-top: 10px;
	font-weight: normal;
	line-height: 10px;
	border-top-color: #94aec7;
	border-top-width: 1px;
	border-top-style: dotted;
}

.RentalAvailabilityDisplay {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding-top: 5px;
	min-height: 35px;
}
.BlinkCartItemCountError {
	color: Red !important;
}

.RentalAvailabilityDottedLineBotton {
	/*margin-bottom:10px; */
	font-weight: normal;
	/* line-height:10px;*/
	border-bottom-color: #94aec7;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	padding-bottom: 10px;
	float: none;
}
.descriptionColumnTab {
	width: 65%;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
}
.CustomerBlockNotePopup {
	background-color: #fff;
	width: 350px;
	border-color: Gray;
	border-style: solid;
	border-width: 3px;
	padding: 3px;
}
.srs-CartMaxShipment {
	text-align: right;
	width: 100%;
}
.srs-FeedbackForm {
	font-weight: bold;
	font-size: 11px;
	color: #000;
	text-decoration: none;
	text-indent: 0;
}
.srs-FeedbackFormTableColumn {
	text-align: right;
	padding-right: 10px;
}
.HeaderLeft {
	text-align: left;
}
.HeaderRight {
	text-align: right;
}
.PlainBoldHeading {
	font: 14px Arial, helvetica, Sans-Serif;
	font-size: 14px;
	height: 18px;
	font-weight: 700;
	color: #000;
}
/* .validcross {
    background: url(/PublishingImages/valid.gif) left top no-repeat;
    display: inline-block;
    font-size: 1px;
    height: 12px;
    line-height: 1px;
    width: 14px;
} */
.changePasswordColumnPasswordRules {
	vertical-align: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
.DownloadHeader {
	color: #00f;
	font-weight: 700;
}
.DownloadMainHeader {
	font-size: 14px;
}
.Download {
	font-size: 12px;
	width: 100%;
	padding-left: 10px;
	margin-top: 3px;
	margin-bottom: 10px;
}
.DownloadLink {
	color: #3499ff;
	text-decoration: none;
}
.DownloadError {
	text-align: center;
	width: 95%;
	font-size: 12px;
	text-decoration: none;
	font-style: italic;
	margin-top: 50px;
	margin-bottom: 50px;
}
.softwareDownloadConfirmationNote {
	font-weight: bold;
	color: #3a57b2;
}
.cookies-message {
	padding: 1px 0;
	background: #fff;
	width: 99.8%;
	height: 55px;
	font-size: 12px;
	color: Black;
	box-shadow: 0px 0px 10px grey;
	border: 1px solid gray;
	margin-bottom: 3px;
	padding-top: 5px;
}
.row {
	width: 64%;
	margin: auto;
}
.contentLeft {
	width: 87%;
	float: left;
}
.contentRight {
	width: 13%;
	float: right;
	text-align: right;
}
.btn {
	font-family: Arial;
	font-weight: 700;
	font-size: 12px;
	padding: 4px 10px;
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	border-radius: 4px;
	line-height: 1.42857143;
	border: 0px;
}
.btn-primary {
	color: #fff;
	background-color: #337ab7;
	cursor: pointer;
	background-image: linear-gradient(to top, #023c6b 0%, #628cb2 100%);
}
.btn-primary:hover {
	color: #000;
	cursor: pointer;
	background-image: linear-gradient(to top, #c3c3c4 0%, #e1e2e3 100%);
	background-color: #c3c3c4;
}
.CookieFooter {
	text-decoration: underline;
}
.contentRight a {
	text-decoration: none;
}
.btnNext {
	padding-top: 2px;
}
.tblchangepassword {
	border-spacing: 1px;
	text-align: center;
	width: 100%;
}
.BoldHeadingPP {
	font: 16px Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: 18px;
	text-align: center;
	text-indent: 5px;
	font-weight: bold;
	color: #000;
}
.PrivacyPopup {
	width: 410px;
	border-color: Gray;
	border-style: solid;
	border-width: 3px;
	padding: 3px;
	border: 2px solid #000;
	z-index: 100;
	font-size: 13px;
	background-color: #fff;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	padding: 12px;
}
.PrivacyPopupControl {
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}
.PopupErrorMessage {
	font-size: 12px;
	color: Red;
}
.btn.disabled {
	cursor: not-allowed;
	background-image: linear-gradient(to top, #c3c3c4 0%, #e1e2e3 100%);
	color: #000;
	background-color: #c3c3c4;
}

/*secondary price*/
.ProductSecondaryPrice {
	padding-top: 5px;
}
.srs_ConfirmCheckout {
	padding-top: 10px;
	margin-bottom: 10px;
}
.registerUserError {
	padding-top: 0px !important;
}
.registerUserError ul {
	list-style: none;
}

.registerUserError li:before {
	content: '•';
	font-size: 16px !important;
	padding-right: 10px;
}
.registerUserError ul > li {
	margin-bottom: -4px;
}
.fa fa-times {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px;
	cursor: pointer;
}

.cookiePolicy .row {
	width: 80%;
}

.cookiePolicy_introtext {
	text-align: left;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 40px;
	text-indent: 0;
}

.cookiePolicy_descriptiontext {
	text-align: left;
	font-size: 14px;
	line-height: 1.5;
	text-indent: 0;
}

.cookiePolicyTable {
	text-align: left;
	vertical-align: middle;
	border: 1px solid #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-collapse: collapse;
	font-size: 14px;
	text-indent: 0;
}

.cookiePolicyTable tr {
	border: 1px solid #333;
}

.cookiePolicyTable th {
	padding: 15px 5px;
	background-color: rgba(128, 128, 128, 1);
	color: #fff;
	font-weight: bold;
}

.cookiePolicyTable td {
	padding: 5px;
}

.cookiePolicyTable tr:nth-child(even) {
	background-color: rgba(128, 128, 128, 0.3);
}
.cookiePolicyTable tr:nth-child(odd) {
	background-color: rgba(128, 128, 128, 0.1);
}
.cookiePolicyTable tr td:nth-child(1) {
	width: 22%;
	word-break: break-all;
}
.cookiePolicyTable tr td:nth-child(2) {
	width: 14%;
}
.cookiePolicyTable tr td:nth-child(3) {
	width: 32%;
}
.cookiePolicyTable tr td:nth-child(4) {
	width: 32%;
}

.LimitOrderPerPage {
	text-align: right;
	float: right;
}

.ui-state-default,
.ui-widget-content .ui-state-default .ui-slider-handle .ui-state-focus .ui-state-hover {
	cursor: move;
}

.cookie-description p {
	text-align: center;
}

.cookie-description p span {
	line-height: 1.5;
	font-weight: 200;
}
.modalBackground {
	background-color: black;
}
.modalPopup {
	position: absolute;
	background-color: #ffffff;
	border-width: 3px;
	border-style: solid;
	border-color: black;
	height: 80%;
	border: none;
	width: 60%;
	overflow: auto;
}

.cookieSettingsTittle {
	text-align: center;
	font-size: 2.25rem;
	margin-bottom: 30px;
	margin-top: 30px;
}

.cookieSettingsSliderHeadline {
	text-align: center;
	font-size: 1.75rem;
	margin-bottom: 30px;
	margin-top: 20px;
}

.cookieSettingsLearnMore {
	color: #005691;
	cursor: pointer;
	font-weight: 200;
	align-content: center;
	text-decoration: none;
	transition: 0.5s;
}
.cookieSettingsLearnMore > span {
	transition: 0.5s;
}
.cookieSettingsLearnMore:hover * {
	color: Black;
	padding-right: 10px;
}

.cookie-btn {
	margin-top: 20px;
}

.active-tab-bg {
	background-color: #0c3b5c;
	border-left-color: rgba(45, 160, 255, 0.3) !important;
	border-top-color: rgba(45, 160, 255, 0.3) !important;
}
.active-tab-bg span {
	color: #fff;
}
.remove-left-border {
	border-left: 0 !important;
}
/*tab styles*/
/* Style the tab */
.tab {
	overflow: hidden;
	border: none;
	background-color: white;
	margin: 40px 40px 0px 40px;
	height: 145px;
}

/* Style the buttons inside the tab */
.tab a {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 30px 0px 30px 0px;
	transition: 0.3s;
	font-size: 20px;
	text-align: center;
	width: 25%;
	color: #e6e6e6;
}

/* Create an active/current tablink class */
.tab a.active {
	background-color: RGB(247, 247, 247);
	color: #000;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: none;
	border-top: none;
}
/* -------------------------*/
.cookieSettingsSave {
	float: right;
	background-color: #005691;
	color: white;
	font-size: 19px;
	margin: 20px;
	border: none;
	height: 50px;
}
.closeButton {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 5px;
	cursor: pointer;
}
.cookies-container {
	width: 100%;
	height: 130px;
	background: rgba(0, 0, 0, 0.02);
	margin: auto;
	padding-bottom: 15px;
}

.contentLeftCookies {
	width: 75%;
	float: left;
}

.contentRightCookies {
	width: 25%;
	float: right;
	text-align: right;
}

.cookieText {
	margin: 10px 0 0 0;
	padding: 10px 20px 0 20px;
	line-height: 1.6;
	font-family: Arial, Verdana, Sans-Serif;
	font-weight: 400;
}

.A-Link {
	margin: 10px 0 0;
}

.A-Link--button {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}

.A-Link__link {
	padding-top: 11px;
	padding-bottom: 11px;
	display: inline-block;
	color: inherit;
	text-align: inherit;
	border: 1px solid #ccc;
	background-color: transparent;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	width: 200px;
	transition: all 0.5s ease;
	white-space: normal;
	font-family: Arial, Verdana, Sans-Serif;
}

.A-Link__linkText {
	vertical-align: middle;
}

.A-Link.A-Link--button input:hover {
	border-color: #000;
}

.panelCookies {
	width: 100%;
	background-color: white;
}

.field-icon {
	float: right;
	margin-left: -25px;
	margin-top: -25px;
	position: absolute;
	z-index: 2;
	bottom: 4px;
}

.pointer {
	cursor: pointer;
}

.pass-show {
	display: inline-block;
	position: relative;
	text-align: right;
}

input::-ms-clear,
input::-ms-reveal {
	display: none;
}
.OESD {
	color: blue !important;
	cursor: pointer;
	text-decoration: underline;
}
.itemDetailsDescription ul {
	list-style-position: outside;
	padding-left: 16px;
}

.cookieText a {
	color: #005691;
	cursor: pointer;
	text-decoration: none;
}

.cookieText a:hover {
	color: #005691;
	cursor: pointer;
	text-decoration: underline;
}
.CheckoutNavigate {
	text-align: right;
	padding-bottom: 5px;
	padding-right: 10px;
	font-size: 16px;
	font-weight: bold;
}
.cardTypeText {
	text-transform: capitalize;
}
.WebpartParamSelector-container {
	width: 100%;
	background: rgba(0, 0, 0, 0.02);
	margin: auto;
	padding-bottom: 15px;
}

.A-Link__NoPadding {
	display: inline-block;
	color: inherit;
	text-align: inherit;
	border: 1px solid #ccc;
	background-color: transparent;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	width: 200px;
	transition: all 0.5s ease;
	white-space: normal;
	font-family: Arial, Verdana, Sans-Serif;
	margin-top: 10px;
	text-align: center;
}

.A-Link__NoPadding input:hover {
	border-color: #000;
}
.CheckoutNavigate {
	text-align: right;
	padding-bottom: 5px;
	padding-right: 10px;
	font-size: 16px;
	font-weight: bold;
}
.cardTypeText {
	text-transform: capitalize;
}
.slider-pro > .sp-buttons {
	position: absolute !important;
	bottom: 10px !important;
}
.slider-pro > .sp-buttons > .sp-button {
	border: 1px solid #000 !important;
}
/*Added css for SRSCORE-4545 US_001 | Communicate Customer Status once per session authentication | VQ1001376*/
._okDialogClass {
	z-index: 1300 !important;
	outline: 0px !important;
	height: auto !important;
	width: 370px !important;
	/*top: 29% !important;
        left: 50% !important;*/
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	color: #000000 !important;
	background-color: #d8d8d8;
	border-radius: 15px;
	border: 3px solid #7f7f7f !important;
}

.okButtonClass {
	border-radius: 12px;
	background-color: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	color: #000000 !important;
	float: right;
}

._okDialogClass .ui-dialog-titlebar {
	display: none;
}

._okDialogClass .ui-widget-content {
	border: 1px solid #d8d8d8 !important;
	background: #d8d8d8 !important;
	color: #333 !important;
	border-radius: 15px !important;
	font-size: medium;
	font-weight: bold;
}

._okDialogClass .ui-dialog-buttonpane {
	border: 1px solid #d8d8d8 !important;
	background: #d8d8d8 !important;
	color: #333 !important;
	border-radius: 15px !important;
	font-size: medium;
	font-weight: bold;
}
.autocomplete_completionListElement {
	visibility: hidden;
	background-color: #fff;
	cursor: default;
	overflow: auto;
	overflow-x: hidden;
	height: 200px;
	text-align: left;
	list-style-type: none;
	font-size: 8pt;
	border-style: solid;
	border-width: 1px;
	margin: 0 !important;
}

.autocomplete_highlightedListItem {
	background-color: #ffff99;
	color: #000;
	padding: 1px;
}

.text-payment-note {
	color: #6c757d !important;
	padding-left: 1.25rem;
}

div#customerDunningBlockStatusPopup div {
	background-color: #ffffff !important;
	border: none !important;
	font-weight: 500 !important;
	color: #787878 !important;
}

div#customerDunningBlockStatusPopup img#imgCustomerStatusError {
	display: none !important;
}

div#customerDunningBlockStatusPopup button.okButtonClass {
	border-radius: 0;
	background-color: #005691;
	font-family: 'boschsans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 16px !important;
	color: #fff !important;
	float: right;
	padding: 16px;
	width: 98%;
}

.customerDunningBlockStatusPopupDialog {
	width: 672px !important;
	background-color: #ffffff;
	border-radius: 0px;
	border: none !important;
}
/* This is for fixing tree styling. */
.rct-text {
	font-size: small;
}
/* ADD ID "customerStatusPopup" TO POPUP DIV */
